.selection {
    width: 100%;
    background-color: #E25;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectors {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.h2h-go {
    margin-left: 15px;
    background: #2D3138;
    color: white;
    display: inline-block;
    line-height: 60px;
    border-radius: 30px;
    border: none;
    font-size: 24px;
    font-weight: 900;
    padding: 0 25px 0 30px;
}

.h2h-go:hover {
    color:#E25;
}

.versus {
    padding-left: 1%;
    padding-right: 1%;
    font-weight: bolder;
}

.tab {
    color:#E25 !important;
}

h1 {
    text-align: center;
}

.runs-plot {
    position: absolute;
    right: 0px;
    top: 180px;
    float: right;
}

h3 {
    display: inline;
}

#t1-name {
    font-size: 35px;
    color: blue;
}

#t2-name {
    font-size: 35px;
    color:red;
}

p {
    text-align: center;
    padding-top: 1%;
}